<div class="row">
  <div class="col col-12">
    <div class="m-auto">
      <form #forgetPasswordForm="ngForm">
        <div class="formgroup">
          <label for="email" i18n>Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter Email"
            name="email"
            required
            email
            ngModel
          />
        </div>
        <br />
        <div class="mx-2">
          <p-inputOtp [(ngModel)]="value" [integerOnly]="true" name="otp" />
        </div>
        <br />
        <p-inputOtp [(ngModel)]="value" />
      </form>
    </div>
  </div>
</div>
