<div class="parent w-100 d-flex flex-column justify-content-center">
  <div class="row">
    <div class="col col-12">
      <div class="d-flex justify-content-center">
        <ng-lottie [options]="option"></ng-lottie>
      </div>
    </div>
    <div class="col col-8 m-auto">
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email" i18n>Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter Email"
            name="email"
            required
            email
            ngModel
          />
        </div>
        <div *ngIf="getControler('email')?.invalid">
          <div
            *ngIf="getControler('email')?.errors?.['required'] && getControler('email')?.touched"
          >
            <small class="text-danger" i18n>* email is required</small>
          </div>
          <div
            *ngIf="getControler('email')?.errors?.['email'] && getControler('email')?.touched"
          >
            <small class="text-danger" i18n>* email is not valid</small>
          </div>
        </div>
        <br />
        <div class="form-group">
          <label for="password" i18n>Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Enter Password"
            name="password"
            required
            ngModel
          />
        </div>
        <div *ngIf="getControler('password')?.invalid">
          <div
            *ngIf="getControler('password')?.errors?.['required'] && getControler('password')?.touched"
          >
            <small class="text-danger" i18n>* password is required</small>
          </div>
        </div>
        <br />
        <div class="form-group text-center">
          <button
            [disabled]="loginForm.invalid || isLoading()"
            type="submit"
            class="btn w-50 text-center"
            i18n
          >
            @if (isLoading()) {
            <app-loader-btn></app-loader-btn>
            } @else { Login }
          </button>
        </div>
      </form>
      <br />
      <app-or></app-or>
      <!-- <app-social-google></app-social-google> -->
      <br />

      <div
        class="forget-signup w-100 d-flex justify-content-between align-items-center gap-1"
      >
        <div>
          <small i18n>Don't have an account? </small>
          <a [routerLink]="['/auth/register']" i18n>Register</a>
        </div>
        <small
          [routerLink]="['/auth/forget-password']"
          class="forget"
          (click)="onForgetPassword()"
          i18n
          >Forget Password ?</small
        >
      </div>
    </div>
  </div>
</div>
