<div *ngIf="msg()" class="parent">
  <div class="msg d-flex justify-content-start align-items-center gap-3">
    <i class="fa-regular fa-circle-xmark"></i>
    <p>
      <small>{{ msg() }}</small>
    </p>
  </div>
</div>
<div class="row">
  <div class="col col-12">
    <form
      class="d-flex flex-column justify-content-center align-items-center"
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit()"
    >
      <div style="width: 350px">
        <ng-lottie [options]="password"></ng-lottie>
      </div>
      <br />
      <br />
      <div class="formgroup w-100">
        <input
          [disabled]="isLoading()"
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          name="password"
          formControlName="password"
        />
        <div *ngIf="!getControl('password')?.valid">
          <div
            *ngIf="
              getControl('password')?.hasError('required') &&
              getControl('password')?.touched
            "
            class="text-danger"
            i18n
          >
            <small>- confirm password is required</small>
          </div>
          <div
            *ngIf="
              getControl('password')?.hasError('minlength') &&
              getControl('password')?.touched &&
              getControl('password')?.dirty
            "
            class="text-danger"
            i18n
          >
            <small>- password must be at least 6 characters</small>
          </div>
          <div
            *ngIf="
              getControl('password')?.hasError('pattern') &&
              getControl('password')?.touched &&
              getControl('password')?.dirty
            "
            class="text-danger"
            i18n
          >
            <small
              >- password must contain at least one lowercase letter, one
              uppercase letter, one digit, and one special character</small
            >
          </div>
        </div>
      </div>
      <br />
      <div class="formgroup w-100">
        <input
          [disabled]="isLoading()"
          type="password"
          class="form-control"
          id="confirmPassword"
          placeholder="Confirm Password"
          name="confirmPassword"
          formControlName="confirmPassword"
        />
        <div
          *ngIf="
            formGroup?.hasError('passwordMismatch') &&
            getControl('confirmPassword')?.touched &&
            getControl('password')?.touched
          "
          class="text-danger"
          i18n
        >
          <small>- password and confirm password must match</small>
        </div>
      </div>
      <br />

      <div class="form-group w-50">
        <button
          [disabled]="formGroup.invalid || isLoading()"
          type="submit"
          class="btn btn-primary w-100 text-center"
          i18n
        >
          @if (isLoading()) {
          <app-loader-btn></app-loader-btn>
          } @else { Done }
        </button>
      </div>
    </form>
  </div>
</div>
